*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Consolas;
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.6);
}
ul li {
    display: inline-block;
    padding: 10px    20px ;
    font-size: 22px;

}
ul li a{
    color: white;
    text-decoration: none;

}
h1{
    margin: 30px;
    text-align: center;
    font-size: 38px;
    color: cornflowerblue;
}
.about, .service, .testimonal, .contact{
    margin-left: 150px;
    margin-top: 100px;
}
p{
    width: 500px;
    font-size: 22px;
}

.top{
    position: sticky;
    padding: 10px 20px;
    font-size: 22px;
    background-color: black;
    color: white;
    display: inline-block;
    float: right;
}
img{
    margin-top:20px ;
    box-shadow: 0 4px 20px rgba(0,0,0,0.6);
    border-radius: 10px;
}


.flex{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vold{
    width: 300px;
    height: 300px;
    background-color: black;
}

.table{
    margin:500px 200px;
}
table , th , td{
    border-bottom: 2px outset black;
    border-left: 2px outset black;
    font-size: 22px;
}
table{
    background-color: #021808;
    color: white;
}
td{
    padding: 10px;
}
th{
    padding: 10px 20px;
}
.seconds ,th{
    background-color: #030b07;
}





